body {
    background-color: burlywood;
}

.box {
    margin: 5px;
    background-color: wheat;
    max-width: 200px;
    height: 200px;
    text-align: center;
    color: black;
}

.container {
    display: none;
}

.center {
    margin-top: 250px;
}

#three, #two {
    margin-left: auto;
}

#one, #four {
    margin-right: auto;
}

p {
    margin-top: 70px;
}