@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.logocolor{
    color:indigo;
}

.dropdown-item:hover{
    background-color:lightblue;
}

.jumbotron .abc {
  width: 75px;
  color:white;
  font-size: 300%;
  height: 75px;
  background-color: cornflowerblue;
  margin-left: auto;
  margin-right: auto;
}

.showdiv {
  width: 10px;
}

.aoverlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgb(200,200,200);
  transition: all 1s;
}

.showdiv:hover .aoverlay {
  opacity: 0.85;
}

form {
    background-image: url('https://images.pexels.com/photos/56832/road-asphalt-space-sky-56832.jpeg?cs=srgb&dl=road-landscape-nature-sky-56832.jpg&fm=jpg');
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

input, textarea{
       opacity:0.9;
    }

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
